/* font-family */
.font-family {
  font-family: Inter;
}
/* variant of texts */
.green {
  color: #00b386;
}
.gray {
  color: #969ba1;
}
.black-Charcoal {
  color: #41414e;
}
.white {
  color: white !important;
}
.red {
  color: red;
}
/* background color */
.ligth-black {
  color: #969ba1;
}
.bg-color {
  background-color: #f0f0f0;
}
.btn.btn-active-light-primary.active {
  color: #000000 !important;
  background-color: white !important;
}
/* variant of font size */
.fs-12 {
  font-size: 28px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
/* variant of font style */
.fw-600 {
  font-weight: 600;
}
/* variant of font style */
.bold {
  font-weight: bold;
}
/* variant of border color */
.border-green {
  border: solid 1px #00b386;
}
.border-buttom {
  border-bottom: 1px solid #00b386;
  padding-bottom: "3px";
  border-width: initial;
}
/* Input type */
.login-btn {
  /* width: 360px; */
  height: 48px;
  flex-grow: 0;
  margin: 8px 0 0;
  padding: 16px 343px 15px 16px;
  border-radius: 8px;
  border: solid 1px #00b386 !important;
  background-color: #00b386 !important;
}
.input {
  /* width: 360px; */
  height: 48px;
  flex-grow: 0;
  margin: 8px 0 0;
  padding: 16px 343px 15px 16px;
  border-radius: 8px;
  border: solid 1px #00b386;
  background-color: #fff;
}
/* Input style*/
.form-input {
  position: relative;
  width: 100% !important;
  font-family: Inter !important;
}
.form-input input::placeholder {
  opacity: 0;
}
.form-input input {
  /* width: 360px !important; */
  font-family: Inter !important;
  height: 48px;
  font-size: 14px !important;
  padding: 16px 15px 15px 16px;
  outline: none;
  border: solid 1px rgba(141, 146, 146, 0.2) !important;
  box-sizing: border-box;
  border-radius: 8px !important;
}
.form-input label {
  font-family: Inter !important;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px !important;
  color: #000000;
  letter-spacing: 0.3px;
  transition: 0.1s;
  padding: 0px 4px 0px 4px !important;
  cursor: text;
}
.form-input input:focus + label,
.form-input input:not(:placeholder-shown) + label {
  top: 0;
  font-size: 12px !important;
  letter-spacing: 0.25px;
  font-family: Inter !important;
  background: rgb(255, 255, 255);
  padding: 4px;
}
.form-input input:focus {
  border: solid 1px #00b386 !important;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04) inset;
  + label {
    color: #00b386 !important;
  }
}

.form-input input:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.nav-tab {
  /* width: 40px; */
  /* height: 28px; */
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  padding: 4px 10px;
  border-radius: 15px;
  cursor: pointer;
  white-space: nowrap;
  margin-right: "10px";
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: #00b386 !important;
}
/* .nav-link:hover, .nav-link:focus {
  color:#525355 !important;
} */
.nav-link:hover {
  color: transparent; /* No color on hover */
}
.nav-pills .nav-link {
  /* width: 1366px; */
  height: 28px;
  padding: 24px 0;
  background-color: #fff;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 4px 10px;
  border-radius: 15px !important;
  color: #525355;
  border: solid 1px rgba(153, 153, 153, 0.15);
}
/* Custom CSS to change radio button color to green */
/* label {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
} */
/* input {
  margin-right: 5px;
} */
.selected-option {
  height: 10px;
  width: 100%;
  background-color: transparent;
}
.redio {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.new-accent {
  accent-color: green !important;
}
.tr {
  border-color: inherit;
  border-style: solid;
  border-width: 1px;
}
.table-card {
  /* width: 1286px;
  height: 489px; */
  flex-grow: 0;
  margin: 40px 40px 0;
  padding: 20px 17px 47px 20px;
  border-radius: 12px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
}
.new-form-check {
  min-height: 1.5rem;
  padding-left: 0 !important;
  margin-bottom: 0.125rem;
}
/* .btn.new-btn-active-light-primary.new-active{
  background-color: #ffffff !important;
} */

.table-card {
  /* width: 1286px;
  height: 489px; */
  flex-grow: 0;
  margin: 40px 40px 0;
  padding: 20px 17px 47px 20px;
  border-radius: 12px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.new-card-header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* padding: 20px 20px 0px 20px; */
  /* background-color: red; */
}

.new-card {
  flex-grow: 0;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  height: 100%;
}

.new-card .new-card-toolbar button:focus {
  outline: none;
}

.radio-button-wrapper {
  display: flex;
  align-items: center;
}

.light-black {
  color: #969ba1;
}

.total-win-number {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  color: #41414e;
}

.new-table-card {
  /* width: 1286px;
  height: 489px; */
  flex-grow: 0;
  margin: 19.5px 0 0 0;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
  /* overflow-x: scroll; */
}

.table-header {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  color: #969ba1;
}

.table-data {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  color: #41414e;
}

.new-card-toolbar {
  /* flex-grow: 0; */
  display: flex;
  flex-direction: row;
  /* justify-content: "flex-end"; */
  align-items: center;
  /* gap: 4px; */
  /* margin: 10px 0; */
  padding: 4px;
  border-radius: 4px;
  background-color: #f0f0f0;
  gap: 8px;
  width: fit-content;
  flex-wrap: nowrap;
}

.new-chart-btn {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  /* align-items: flex-start; */
  /* gap: 4px; */
  /* margin: 0 0 6px 95px; */
  padding: 4px;
  border-radius: 4px;
  background-color: #f0f0f0;
  border: none;
}

.new-toolbar-btn {
  background-color: "transparent";
  border-radius: 4px;
  padding: 4px 8px;
  border: none;
}

.new-toolbar-btn-selected {
  background-color: "white";
  border-radius: 4px;
  padding: 4px 8px;
  border: none;
}

/* td {
  padding: 0 15px;
} */

@media only screen and (max-width: 578px) {
  /* .child-strategy-analyzer-table {
    width: 750px;
  } */

  .new-card-toolbar {
    width: 100%;
  }
  /* .new-card-toolbar {
    flex-wrap: wrap;
  } */
}

.card-number {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  color: #41414e;
}

.card-number-positive {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  color: #14a166;
}

.card-number-negative {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  color: #f82b2b;
}

.card-sub-heading {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  color: #969ba1;
}

.radio-btn-label {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  color: #969ba1;
  cursor: pointer;
}

.radio-btn-label-checked {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  color: #41414e;
  cursor: pointer;
}

.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: var(--bs-gradient) !important;
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.header-circle {
  width: 28px;
  height: 28px;
  border-radius: 50% !important;
  background-color: #00b386;
}

.dropdown-container {
  padding: 8px;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  background-color: #fff;
  width: 200px;
}

.dropdown-container:focus {
  outline: none;
}

.date-range-container {
  width: auto;
}

.bar-chart-container {
  height: 290px;
}

@media screen and (max-width: 576px) {
  .date-range-container {
    width: 375px;
    overflow-x: scroll;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .date-range-container {
    width: 500px;
    overflow-x: scroll;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .date-range-container {
    width: 680px;
    overflow-x: scroll;
  }
}

@media screen and (max-width: 576px) {
  .bar-chart-container {
    height: 230px;
  }
}

.strategy-position-table {
  width: 100%;
}

.strategy-position-table-wrapper {
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  .strategy-position-table {
    width: 900px;
  }

  .strategy-position-table-wrapper {
    overflow-x: scroll;
  }
}

.doughnut-chart-wrapper {
  height: 270px;
  width: 100%;
  padding-bottom: 40px;
}
